<!DOCTYPE html>
<html>
  <head>
    <title>Judith</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='style.css') }} rel="stylesheet" media="screen">
  </head>
  <body>
    <!--<header>
        <h2>Judith AI</h2>
    </header>-->
    <div id="container">
        <div id="message-wrapper"></div>
    </div>
    <div id="typing">Judith is typing…</div>
    <form id="footer" role="form" method="post" onsubmit="return false;">
        <div class="form-group">
            <input id="userInput" type="text" class="form-control" name="user" placeholder="Say something" required>
            <button type="submit" class="btn btn-primary">send</button>
        </div>
    </form>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
  </body>
</html>